<%= @name %> has an email of <%= @email %>

<form action='/api/students' method='post'>

  <input type='text' name='name' placeholder='name'>
  <input type='text' name='email' placeholder='email'>

  <input type="submit" value="Add Student">

</form>
