<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Awesome!!!!!!!!</title>
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <header>
      <h1>The Most Awesomess Albums from 1984!!!</h1>
    </header>

    <%= yield %>

    <footer><p>&copy; 2015 Myron Johnson</p></footer>
  </body>
</html>
