<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random Playlist</title>
  </head>
  <body>
    <header>
      <h1>Some random play list...</h1>
      <h4>A collection of random hits made up of songs I like and other I don't like so much, but added because I have too many song's rated 9 and above...</h4>
    </header><hr>

    <%= yield %>
    <hr>

    <footer>&copy;Darth Vader Productions 2015</footer>

  </body>
</html>
