<h3>This is index.erb</h3>

<script>

  $(document).ready(function() {
    var p = $('p');

    $.ajax({
      type: 'get',
      dataType: 'json',
      url: 'api/json',
      success: function(data) {
        console.log(data);
        $(p).html(data.message);
      },
      error: function(err) {
        console.log(err);
        $(p).html('An error occured');
      }
    });
  });

</script>
