<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/scripts/jquery.js"></script>
    <title>All About Small Animals</title>
  </head>
  <body>
      <h1>All About Small Animals!</h1>
      <h4>Homework by David Hayes</h4>
      <hr>

      <%= yield %>

      <hr>
      <footer>&copy 2015 David Hayes, MIT License</footer>
  </body>
</html>
