class {
  background-image: url(http://static2.1ms.net/dubai-desktop-background-501719.jpg);
  background-size:cover;
  margin: auto;
  width:



  section{
  }

  #formbox {
    margin: auto;
    width:  ;


    input {
      width;
      margin: auto;

    }


  }
}

##save for a fix background/parralax/ buuild as a whole page
(jumbotron/hero image)/fixed nav bar/logo/continually to keep css sharp/
