
<h1>Coupon has been incinerated</h1>

<p>
  Congrats! This coupon titled <%= @name %> with an id of <%= @id %> has been deleted for good. PEACE OUT.
</p>

<ul>
  <li><a href='/coupons/'>Back to the savings</a></li>
</ul>
