
<h1>The coupon has been Created</h1>

<p>
  Congrats! your coupon titled <%= @coupon.title %> has been created! Reep the savings! 
</p>

<ul>
  <li><a href='/coupons/'>Back to the savings</a></li>
</ul>
