// colour variables
$body-text: black;
$body-background: red;
$body-emphasis: navy;
$body-sub: gray;
$content-background: white;

// font sizes!
$base-page-size: 16px;
$font-size-standard: 1rem;
$font-size-headline: 3rem;
$font-size-byline: 1.5rem;
$font-size-subtext: .75rem;

// fun
$radius: 15px;

// devices
$device-phone: 320px;
$device-tablet: 700px;
$device-laptop: 1200px;


// wrappers!
$wrapper-phone: 85%;
$wrapper-tablet: 90%;
$wrapper-laptop: 960%;
