<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/scripts/jquery.js"></script>
    <link rel="stylesheet" href="/styles/style.css">
    <title>After Hours</title>
  </head>
  <body>
  <h3>Welcome to the land of Cute Animals!</h3>

  <%= yield %>
  <p></p>



<footer>Cute Animals - 2015</footer>
  </body>
</html>
