<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatra Reps</title>
  	<script type="text/javascript" src="/scripts/jquery.js"></script>
</head>
<body>
	<h1> Sinatra Reps</h1>
	<hr>

	<%= yield %> 

	<hr> 
	<footer>&copy; SpookyCorridor</footer>
</body>
</html>