<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="/scripts/app.js"></script>
    <link rel="stylesheet" href="style/style.css">
    <title>Basic Sinatra app</title>
  </head>
  <body>
    Hello World
    <hr>

    <div class="row">

    </div>

    <div class="row">

    </div>

    <div class="row">

    </div>

  </body>
</html>
