<h3>Welcome to the International Database of Horrible Movies</h3>
<p>
  This is the database you all have been waiting for.  It is the one that shows you the worst movies of all time.  Our group of movie buffs took their time looking at the worst movies ever and they came back with this list of absolute doozies!  These movies are the undisputed champions of bad movies!
</p>
<p>
  You journey begins here.  <a href="/movies">Link to the list</a> of the top worst movies of all time.
</p>
