<h3>Please Login</h3>
<p>
  Enter your login credentials to access the site:
</p>
<form class="authenticationform" action="/users/login" method="post"><br>
  <input class="fields" type="text" name="user_name" value="" placeholder="Enter Username"><br>
  <input class="fields" type="password" name="password" value="" placeholder="Enter Password"><br>
  <input class="fields" type="submit" name="name" value="Log In!">
</form>
