<h3 class="error">Access Denied!</h3>
<p>
  You do not have permission to view this resource.  Please <a href="/users/login">sign in</a> and try again or <a href="/users/register">register a new account</a>
</p>
