<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amazon</title>
  </head>
  <header>
    Amazon Toys
  </header>
   <table style="width: 50%">

     <tr>
       <th>
         Name
       </th>
       <th>
         Price
       </th>
     </tr>

    <tr>
     <td>
      <%= @name %>
      <td>
        <%= @price %>
      </td>
     </tr>

    </table>
  <body>

  </body>
</html>
