<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>

    </header>
    <body>
      <h2>Songs Songs Songs</h2>
      <h4>Just for you!</h4>
      </header>



       <%= yield %>
       <footer>
       <hr>
       &copy; 2020 songs!

       </footer>

    </body>
  </body>
</html>
