<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About David</title>
  </head>
  <body>
    <h1>About David</h1>
    <p>Dynamic content goes below</p>

    <%= yield %>

    <hr>
    <footer><h3>&copy 2015 - David Hayes</h3></footer>
  </body>
</html>
