@import 'variables.scss';

//target the DOM
body {
  font-size: $base-page-size;
  background: $body-background;
}

#wrapper {
  width: $wrapper-phone;
  margin: auto;
  border-radius: $radius;
  background: $content-background;
  padding: $font-size-standard;
}

#phone {
  display:none;
}

#tablet {
  display:none;
}

#laptop {
  display:none;
}

// Media Quesries for responsive design
@media (min-width: $device-phone) {
  #phone {
    display:block;
  }
}

@media (min-width: $device-tablet) {
  #phone {
    display: none;
  }
  #wrapper {
    width: $wrapper-tablet;
  }
  #tablet {
    display: block;
  }
  .nav-item {
    display: inline-block;
    list-style: disc;
    border-bottom: 1px;
  }

}

@media (min-width: $device-laptop) {
  #phone {
    display: none;
  }
  #tablet {
    display: none;
  }
  #wrapper {
    width: $wrapper-laptop;
  }
  #laptop {
    display: block;
  }
}
