// color variables!
$body-text: black;
$body-background: lime;
$body-emphasis: navy;
$body-sub: gray;
$content-background: white;

//fun
$radius: 4px;

// font sizes!
$base-page-size: 16px;
$font-size-standard: 1rem;
$font-size-headline: 3rem;
$font-size-byline: 1.5rem;
$font-size-subtext: 0.75rem;

//devices
$device-phone: 320px;
$device-tablet: 700px;
$device-laptop: 1200px;

//wrappers
$wrapper-phone: 85%;
$wrapper-tablet: 90%;
$wrapper-laptop: 960px;
