<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lab Reps for Sinatra Server</title>
    <link rel="stylesheet" href="/styles/styles.css">

  </head>
  <body>
    <h1>Welcome To My Site!</h1>
    <%= yield %>



  <script src="/scripts/jquery.js" type="text/javascript"></script>
  <script src="/scripts/app.js" type="text/javascript"></script>
  </body>
</html>
