<article class="animal">
	<header>
		<h2 class="animal__name"></h2>
		<span class="animal__habitat"><em class="animal__habitat-label">Habitat:&nbsp;</em><span class="animal__habitat-name"></span></span>
	</header>
	<figure class="animal__figure">
		<img class="animal__image" src="" alt="">
		<figcaption class="animal__rating">
			<span class="animal__rating-label"><em>Rating:&nbsp;</em></span>
			<span class="animal__rating-stars"></span>
		</figcaption>
	</figure>
	<p class="animal__description"></p>
</article>