<!DOCTYPE html>
<html>
<head>
	<title>SMALL ANIMALS WILL DIE</title>
</head>
<link rel="stylesheet" type="text/css" href="/styles/style.css">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/scripts/global.js"></script>
<body>
	<header class="site-header clearfix">
		<h1 class="site-title">SMALL ANIMALS WILL DIE</h1>
		<nav class="site-navigation">
			<ul>
				<li><a href="/kittens" class="site-navigation__item">Kittens</a></li>
				<li><a href="/puppies" class="site-navigation__item">Puppies</a></li>
				<li><a href="/calves" class="site-navigation__item">Calves</a></li>
				<li><a href="/octopi" class="site-navigation__item">Octopi</a></li>
				<li><a href="/bats" class="site-navigation__item">Bats</a></li>
			</ul>
		</nav>
	</header>

	<main class="site-main">
		<%= yield %>	
	</main>

</body>
</html>