<!DOCTYPE html>
<html>
<head>
	<title>Week 4 Day 3 Reps</title>
</head>
<link rel="stylesheet" type="text/css" href="/styles/style.css">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/scripts/global.js"></script>
<body>
	<header class="site-header">
		<h1>Week 4 Day 3 reps</h1>
		<nav class="site-navigation">
			<ul>
				<li><a href="/" class="site-navigation">Home</a></li>
				<li><a href="/name" class="site-navigation">Name</a></li>
				<li><a href="/about" class="site-navigation">About</a></li>
				<li><a href="/contact" class="site-navigation">Contact</a></li>
			</ul>
		</nav>
	</header>

	<main class="site-main">
		<%= yield %>	
	</main>

</body>
</html>