//text colors
$body-text: black;
$body-background: white;
$body-emphasis: navy;
$body-sub: darkgray;
$content-background: white;

//font sizes
$base-page-size: 16px;//text colors
$body-text: black;
$body-background: purple;
$body-emphasis: navy;
$body-sub: darkgray;
$font-size-standard: 1rem;
$font-size-headline:  3rem;
$font-size-byline: 1.5rem;
$font-size-subtext: 0.75rem;

//fun stuff
$radius: 15px;

//devices
$device-phone: 320px;
$device-tablet: 700px;
$device-desktop: 960px;

//wrappers
$wrapper-phone: 85%;
$wrapper-tablet: 90%;
$wrapper-desktop: 960px;
