<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Labbbb</title>
    <script src="/scripts/jquery.js"></script>
  </head>
  <header>
    <h1>jim</h1>
  </header>
  <body>


      <%= yield %>

    <footer>lab lab </footer>
  </body>
</html>
