$primary-color: slateblue;

#block_one {
    width: 99%;
    height: 300px;
    background-color: $primary-color;
    h1{
      color:brown;
      font-size: 3rem;
    }

p {
  font-size: .2rem;
}

}
