// color variables!
$body-text: rgb(251, 105, 100);
$body-background: rgb(51, 51, 50);
$font-header: rgb(19, 82, 162);
$body-sub: rgb(255, 212, 100);
$content-background: rgb(240, 241, 238);
$body-centerpiece: rgb(255, 212, 100);

//fun
$radius: 4px;

// font sizes!
$base-page-size: 16px;
$font-size-standard: 1rem;
$font-size-headline: 3.5rem;
$font-size-byline: 2rem;
$font-size-subtext: 0.75rem;

// font families!!
$font-family-Header: 'Architects Daughter', cursive;
$font-family-text: 'Didact Gothic', sans-serif;

//devices
$device-phone: 320px;
$device-max-phone: 480px;
$device-laptop: 1200px;

//wrappers
$wrapper-phone: 85%;
$wrapper-tablet: 90%;
$wrapper-laptop: 960px;
