<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LABLABLAB</title>
    <script src="/scripts/jquery.js"></script>
  </head>
  <header>LAB, LAB, LAB</header>
  <body>

<%= yield %>

  <footer>Lab, Lab, Lab</footer>
  </body>
</html>
