<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ruby Blackjack!</title>
  </head>
  <body>
    <header>
      <h1>Ruby BlackJack</h1>
      <hr>
    </header>

    <% yield %>

    <footer>
    <hr>
    &copy; wut! 2015
    </footer>
  </body>
</html>
