$blue:rgb(5, 127, 245);

$body-text-color: #444;
$body-background: rgb(234, 229, 242);
$body-emphasis: $body-text-color;
$body-sub: black;
$body-font-family:'Source Sans Pro', sans-serif;

$base-font-size: 16px;

$header-text-color:$blue;
$header-font-family:'Oswald', sans-serif;

$link-color:$blue;
