<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books to Read</title>
  </head>
  <body>

    <header>
      <h1>Books to Read</h1>
      <hr>
    </header>

    <%= yield %>

    <footer>
      <hr>
      &copy; this is pretty cool
    </footer>

  </body>
</html>
