body {
	background:linear-gradient(
	  to bottom,
    rgba(120,213,255,0.6) 1.4752%,
	  rgba(255,217,120,0.6) 99.473%),
		url('../images/background.jpg');
	color:#457;
}

.container {
	padding: 2em 0;
}

.row {
	background:rgba(255,255,255,0.6);
	padding:1em;
	margin-bottom:1em;
}