#best {
  background-color: blue;
  color: yellow;
  font-size: 1.5rem;
  h1  {
    font-size: 3rem;
  }
}
#sorta {
  background-color: yellow;
}
#worst {
  background-color: pink;
}

@media (min-width: 800px) {
  #worst {
    display: none;
  }
}
