<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SinatraBackboneBoilerplate</title>

    <script src='/scripts/jquery.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>



    <%= yield %>


  </body>
</html>
