<h1>Excercise one</h1>

<h3>How to break ERB</h3>

<p>
  Solution: Escape underscore variables with double percent symbols.
  Example: <code><%%= variable %></code>. This way, Ruby doesn't expect a Ruby variable... and Underscore + Ruby can coexist. :)
</p>

<script type="text/javascript">
  $(document).ready(function() {







  });//end of document.ready
</script>


<script type="text/javascript" id='tpl'>

  The quick brown <%%= animal %> jumped over the <%%= verb %> dog.

</script>
