.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

*,
*::before,
*::after {
	box-sizing:border-box;
}

html, body {
	height:100%;
}

body {
	margin:0;
	padding:0;
	
	font-family: 'Source Sans Pro', Verdana, sans-serif
}

a {
	text-decoration:none;
}

section {
	margin:2em auto;
}

article {
	padding:1em;
	background-color:rgba(255,255,255,0.9);
}

.wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px 0px -5.25em 0px;
	background-image:linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.125)), url('../images/background.jpg');
	background-size:cover;
	background-repeat:no-repeat; 
	background-position:center center;
}

.content-wrapper {
	margin:0 auto;
	width:90%;
	max-width:40em;
	padding:3em 0 5.25em 0;
}

.site-header {
	padding:2em;
}

.site-nav ul {
	margin:0;
	padding:0;
	list-style-type:none;
	float:right;
}

.site-nav__item {
	display:block;
	float:left;
	margin-left:1em;
}

.site-nav__item a {
	color:white;
}

.form-login {
	margin:0 auto;
	max-width:30em;
	background-image:linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.95));
	padding:1em 2em;
}

.form-login label {
	width:100%;
	margin:1em 0;
	display:block;
}

.form-login label h3 {
	margin-top:0;
	margin-bottom:0.25em;
	font-size:1.125em;
	color:#222;
	font-weight:400;
}

.form-login input {
	width:100%;
	height:4em;
	line-height:1;
	padding:1em;
	transition:outline 0.3s ease-in-out;
	outline:none;
}

.form-login .form-login__submit {
	margin:0 auto;
	display: block;
	-webkit-appearance:none;
	border:none;
	outline:none;
	background:linear-gradient(to bottom, #5BDA8D, #5BBA8D);
	color:white;
	text-transform: uppercase;
	width:6em;
	height:2.75em;
	padding:0.25;
	font-size:1.125em;
	line-height:1;
	transition:transform 0.3s ease-in-out;
}

.form-login .form-login__submit:hover {
	transform:scale(1.0125);
}

.form-login input:focus {
	outline:1px solid #FFCF73;
}

.site-footer {
	padding:1em 2em;
	color:white;
}