
<h1>Coupon has been Updated</h1>

<p>
  Congrats! Coupon titled <%= @coupon.title %> with an id of <%= @coupon.id %> has been updated in the cart!
</p>

<ul>
  <li><a href='/coupons/'>Back to the savings</a></li>
</ul>
