<h2>Students: Create</h2>

<form action="/coupons/create" method="post">
	<input type="text" name="title" placeholder="Title">
	<input type="text" name="description" placeholder="description">
	<input type="text" name="product" placeholder="product name">
	<input type="text" name="discount" placeholder="discount">
	<input type="text" name="expiration" placeholder="expiration">
	<input type="submit" value="Create coupon">
</form>