<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Coupons</title>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>
<header class="row">
	<nav class="eight columns offset-by-two"> 
		<h2>COUPONS OMG</h2>
		<hr>
	</nav>
</header>
<section class="row">
	<article class="eight columns offset-by-two">
		<%= yield %> 
	</article>
</section>
</body>
</html>