<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% @transportation.Random.each do |vehicle| %>
      <%= vehicle %>
    <% end %>

    <% @turtles.each do |turtle| %>
      <%= turtle %>
    <% end %>

    <% @kitties.each do |kitty| %>
      <%= kitty %>
    <% end %>

  </body>
</html>
