<h3>Register</h3>
<form  action="user/register" method="get">
    <input type="submit" value="Register">
</form>




<h3>Login</h3>
<form  action="user/login" method="get">
    <input type="submit" value="Login">
</form>
