body {
  padding: 0;
  margin: 0;
}

h1 {
  background-color: rgb(25, 89, 85);
  color: rgb(236, 236, 236);
  font-family: Verdana, sans-serif;
  padding: 20px;
  margin: 0;
}

.map {
  min-height: 400px;
  min-width: 400px;
}

section {
  padding: 30px;
  margin: 0;
}

article {
  font-family: Verdana, sans-serif;
  width: 33%;
  float: left;
  display: inline;
  padding: 0;
  margin: 10px 0 10px 0;
}

button {
  border: 0;
  margin: 10px 0 10px 0;
  background-color: rgb(33, 155, 185);
  color: rgb(236, 236, 236);
  padding: 7px;
  border-radius: 3px;
  width: 75%;
}
