<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cutest Animals</title>
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<script type="text/javascript" src="/scripts/jquery.js"></script>
</head>
<body>
	<h1>Cutest Animals</h1>
	<hr>

	<%= yield %> 

	<hr>
	<p>&copy; SpookyCorridor</p>
</body>
</html>