<h1> Red Panda </h1> 
<section></section>

<script>
	$(document).ready(function() {
		var s = $('section');
		$.ajax({
			type: 'get'
			dataType: 'json', 
			url: '/animal/red-panda',
			success: function(data) {
				$(s).html(data); 
			}
		})
	});
</script>