<h1>Exercise 9</h1>

<h3>Using Collections</h3>

<script type="text/javascript">

  var insta = insta || {};

  insta.model = Backbone.Model.extend({
    initialize: function() {
      console.log('An instafake with an id of ' + this.get('id') + ' was jus created!');
      this.fetch();
    }
  });

  insta.collection = Backbone.Collection.extend({
    model: insta.model,
    url: '/api/instafake',
    initialize: function() {
      console.log('Starting our collection... go!');
    }
  });

  // every 5 seconds fetch the API and tell us about it
  var photosCollection = new insta.collection();
  photosCollection.fetch();

  setInterval(function() {

    photosCollection.fetch();
    console.log('upddddattting errrday');
    console.log('we currently have ' + photosCollection.models.length + ' models! yay!');
    console.log('end update');

  },5000);

  photosCollection.create({ username: 'bruce wayne', post: 'dead_parents.gif', description: ' :( ', hashtags: 'YOLO' });

</script>
