<h1>Exercise 1</h1>

<h3>How to break ERB</h3>

<p>
  Solution: %%
</p>

<script type="text/javascript">
  $(document).ready(function() {



  });
</script>

<script type="text/javascript" id="tpl">
  The quick brown <%%= animal %> jumped over the <%%= verb %> dog.
</script>
