<h3>Create a New Coupon</h3>

<form method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="product" placeholder="Product">
  <input type="text" name="discount_price" placeholder="Discount">
  <input type="text" name="exp_date" placeholder="Expiration">
  <input type="submit" name="Create Coupon">
</form>
<form action="/coupons/index">
  <input type="submit" value="Cancel">
</form>
