<h3>You have deleted a coupon with an ID of #<%= @coupon.id %></h3>

<p>
  Your coupon, titled <%= @coupon.title %> has been removed from the database.
</p>

<a href="/coupons/index">Back to List of Coupons</a>
