<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coupons</title>
    <link rel="stylesheet" href="/styles/skeleton.css">
  </head>
  <body>
    <header>
      <h2>Shopoholics Coupon List</h2>
      <h5>A collection of the HOTTEST local deals</h5>
      <a href="/coupons/index"><img src="/images/coupon.gif" height="70" width="170"/></a>
    </header>
    <form action="/coupons/create">
      <input type="submit" value="Create a Coupon">
    </form>
    <hr>

    <%= yield %>
    <hr>

    <footer>&copy; The Dark Lord</footer>
  </body>
</html>
