<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Small Kittens Named After New Edition</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="/scripts/jquery.js"></script>
  </head>
  <body>

    <h1>Small Kittens Named After New Edition Original Members</h1>

    <%= yield %>

    <footer>&copy; 2015 Myron Johnson</footer>
  </body>
</html>
