<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Live Set</title>
  </head>
  <body>
    <header>
      <h2>Live Set</h2>
      <h4>Make a setlist for your next performance</h4>
      <hr>
    </header>


    <%= yield %>

    <footer>
      <hr>
      &copy; 2015 Live Set!
    </footer>
  </body>
</html>
