<h1>Create Song</h1>
  <form action="" method="post">

    <input type="text" name="track_name" value="Track name?">
    <input type="text" name="bpm" value="Beats Per Minute?">
    <input type="text" name="length" value="How long is the song?">
    <input type="text" name="back_track" value="is there a backtrack?">
    <input type="submit" value="Create Song">
  </form>
