<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>LOOPS</h1>

    <% @my_array1.each do |array| %>
    <li><%= array %></li><br>

    <%end%>

    <% @my_array2.each do |array| %>
      <li><%= array %></li><br>

      <%end%>

      <% @my_array3.each do |array| %>
      <li><%= array %></li><br>

      <%end%>




  </body>
</html>
