

    <h2>Three Arrays</h2>

def words(name1, name2, name3)


    firstArray = ['donnie', 'marrie', 'osmond']
    secArray = ['pat','vanna','wheel']
    thirdArray = ['billy', 'bob', 'thornton']


    <% @firstArray.each do |firstArray| %>
      <% @secArray.each do |secArray| %>
        <% @thirdArray.each do |thirdArray| %>

  
