<ul>
	<% @songs.each do |song| %>
	<li>
		<%=song.artist.to_s + ' - ' + song.title.to_s + ' - ' + song.album.to_s + ' / ' + song.release_year.to_s + ' / genre: ' + song.genre.to_s + '<br><br>'%>
	</li>
	<% end %>
</ul>
