<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>METALLICA</title>
  </head>
  <body>
    <header>
      <h1>METALLICA</h1>
      <h3>The Black Album</h3>
    </header>

    <%= yield %>

    <footer>&copy All rights reserved by Metallica</footer>

  </body>
</html>
