body {
  background-image: url("http://vignette3.wikia.nocookie.net/swg/images/1/1f/Background.jpg/revision/latest?cb=20100610132511");
  background-size: cover;
}

#one {
  width: 500px;
  height: 150px;
  background-color: blue;
  margin: 20px;
  display: none;
}

#two {
  width: 500px;
  height: 150px;
  background-color: red;
  margin: 20px;
}

#three {
  width: 500px;
  height: 150px;
  background-color: yellow;
  margin: 20px;
}
