<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Morning Exercise</title>
  </head>
  <body>

    <h3>Spanish in Random</h3>
      <% @spanish.each do |params| %>
        <li><%=  params %></li>
      <% end %>
    <h3>German</h3>
      <% @german.each do |params| %>
        <li><%=  params %></li>
      <% end %>
    <h3>Italian</h3>
      <% @italian.each do |params| %>
        <li><%=  params %></li>
      <% end %>
  </body>
</html>
