<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Top Taylor Swift Songs - A Sinatra App</title>
  </head>
  <body>
    <header>
      <h1>Top Taylor Swift Songs</h1>
      <hr>
    </header>

    <%= yield %>

    <footer>
      <hr>
      <p>&copy;Kate Shirley
      </footer>

  </body>
</html>
