<h1 class='contactus'>Contact us!</h1>
<h3>Let us know how awesome we are, here at the Bluth Construction Company</h3>

<section class='contactus'>
<div class='contactus'><input type='text' placeholder='Your Name'></div>
<div class='contactus'><input type='text' placeholder='Your Phone Number'></div>
<div class='contactus'><input type='text' placeholder='Your Email'></div>
<div class='contactus'><input type='text' placeholder='Your message'></div>
<button>Submit</button>
</section>
