  <section>
    <h3>Index/Home page for Bluth Construction Co.</h3>
      <p>Thank you for visiting our web page. Sorry that our site is looking a little "rocky" at this moment. It looks like we should be doing some "construction" on our website.</p>
        <img class ='mainphoto' src= 'http://i0.wp.com/www.thejohnniechair.com/wp-content/uploads/2013/01/chicken-dance-construction-site.jpg?resize=567%2C372'>
  </section>
