<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Songs</title>
  </head>
  <body>
    <header>
      <h1>Sinatra Songs</h1>
      <br><br>
      <hr>
    </header>

    <%= yield %>

    <footer>
    <hr>
    <br><br>
    <small>&copy; 2015 Sinatra Reps HW</small>
    </footer>

  </body>
</html>
