<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blackjack</title>
</head>
<body>
	<pre>
		<%= @deck %>
	</pre>

	<p><%= @deck.length %></p>
	<p><%= @deal %></p>
	<p><%= @deck.length %></p>
	

</body>
</html>
