<h1>Create Movie</h1>

  <form action=" method="post">

    <input type="text" name="title" placeholder="Movie Title?">
    <input type="number" name="release_year" placeholder="Release Year?">
    <input type="text" name="director" placeholder="Director?">
    <input type="text" name="star1" placeholder="Starring?">
    <input type="text" name="star2" placeholder="Co-Starring?">
    <input type="text" name="star3" placeholder="Also Starring?">
    <input type="text" name="rating" placeholder="Rating?">
    <input type="submit" value="Create Movie">

  </form>
