 <%  @array1.each do |item| %>
<table>
  <tr>
<td>
  <%= item %>
</td>
<% end %>
<td>
<%  @array2.each do |item| %>
</td>
<td>
 <%= item %>
</td>

<% end %>

<%  @array3.each do |item| %>
<td>
 <%= item %>
</td>
  <% end %>
