
<h1>Student has been Updated</h1>

<p>
  Congrats! Student named <%= @student.name %> with an id of <%= @student.id %> has been updated in the database!
</p>

<ul>
  <li><a href='/students/'>Back to students</a></li>
</ul>
