<% @students.each do |student| %>

  <table>
    <tr>
      <td>name:</td>
      <td><%= student.name %></td>
    </tr>
    <tr>
      <td>email:</td>
      <td><%= student.email %></td>
    </tr>
  </table>

<% end %>
