
<h1>Students: Create</h1>

<form class="" action="/students/create" method="post">
  <input type="text" name="name" placeholder="Student's Name">
  <input type="text" name="email" placeholder="Student's Email">
  <input type="submit" value="Create Student">
</form>
