
<h1>Student has been Deleted</h1>

<p>
  Congrats! Student named <%= @name %> with an id of <%= @id %> has been deleted for good. PEACE OUT.
</p>

<ul>
  <li><a href='/students/'>Back to students</a></li>
</ul>
