<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/scripts/jquery.js"></script>
    <title>Sinatra API Numero Dos</title>
  </head>
  <body>
      <h1>This is a freaking Sinatra API call!</h1>
      <hr>

      <%= yield%> <!--this loads the ERB here and keep loads everything else around. Templating, babayyyyy!-->

      <hr>
      <footer>&copy; 2015 Isaac Bueno (ROUND II WITH SINATRA)</footer>

  </body>
</html>
