$primary-color: slateblue;  // can create varibles for everything.Begin with ""$""


#block_one {
  width: 99%;
  height: 300px;
  background-color: $primary-color;
 h1 {
   color:rgb(92, 89, 51);
 }


}
