<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src='/scripts/jquery.js'>

    </script>
    <title>Sinatra Lab</title>
  </head>
  <body>
    <h1>This is my Sinatra Lab D03</h1>
    <hr>

    <%= yield %>

    <hr>
    <footer>&copy; Tardis junkie 2015 <br>SpaceTime License</footer>




  </body>
</html>
