<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src='/scripts/jquery.js'></script>
    <link rel="stylesheet" href="/styles/styles.css" >
    <title>Small Animals and Stuff</title>
  </head>
  <body>
    <h1>Small Animals are the Cutest</h1>
    <hr>


    <section>

      <%= yield %>

    </section>

    <hr>
    <footer>  &copy; 2015 Tardis Junkie </footer>

  </body>
</html>
