<h2>Create new movie</h2>

<form class="" action="" method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="director" placeholder="Director">
  <input type="text" name="date_released" placeholder="Year Released">
  <input type="submit" value="Create new movie!">
</form>
