<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Songs</title>
  </head>
  <body>
    <header>
      <h2>Sinatra Songs</h2>
      <hr>
    </header>
    <%= yield %>
    <hr>
    <footer>&copy; 2015 Sinatra Song Database</footer>
  </body>
</html>
